@{
    ViewBag.Title = "SORT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IList<FileSortAndRename.Models.FileItem>
<script src="~/Scripts/ng-controllers/file-list-controller.js"></script>

<h2>Sort Files</h2>

<div ng-controller="FileListController">

    <div ng-show="success" id="savesuccess" class="flash-box notice">Files saved successfuly.</div>

    @Html.Partial("FileList")

    <div id="nofilesfound" ng-show="fileList.length <= 0" class="flash-box warning">
        No files found
    </div>

    <div ng-show="fileList.length > 0">
        <input id="btnSaveFiles" type="button" value="Save Files" class="btn-large btn-success" ng-click="save()" href="javascript:;" />
    </div>

</div>

